.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

body {
  font-family: "Titillium Web", sans-serif;
}

/* Header */
.header_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header_wrapper .logo_and_nav_div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.header_wrapper .logo_and_nav_div .logo a {
  font-size: 45px;
  color: #ffffff;
}

.header_wrapper .logo_and_nav_div .navigation nav ul {
  display: flex;
  column-gap: 28px;
}

.header_wrapper .logo_and_nav_div .navigation nav ul li a {
  font-size: 20px;
  color: #ffffff;
}

.header_wrapper .logo_and_nav_div .navigation nav ul li a::after {
  content: " ";
  display: block;
  width: 0%;
  height: 1px;
  background-color: #ffffff;
  margin-top: 2px;
  transition: width 0.3s ease;
}

.header_wrapper .logo_and_nav_div .navigation nav ul li a:hover::after {
  width: 100%;
}

/* Main Content */
body {
  height: 100vh;
  background-image: url("../assets/bg-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

body img {
  width: 100%;
  object-fit: contain;
}

/* Burger Menu Icon */
.burger_menu_icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 4;
}

.burger_menu_icon .line {
  width: 80%;
  height: 2px;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.burger_menu_icon .line1 {
  top: 25%;
}

.burger_menu_icon .line3 {
  top: 75%;
}

.overlay {
  width: 100%;
  height: 100%;
  /* background-color: #f9f9f9; */
  /* background-color: #373737; */
  background-color: #99999c;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  visibility: none;
  transform: translateY(-100%);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.overlay.active,
.navigation.active {
  display: flex;
}

.overlay.active {
  transform: translateY(0);
  opacity: 0.8;
}

.line.active {
  background-color: #3d3c3a;
}

.burger_menu_icon.active .line:nth-child(1) {
  left: 0;
  transform: translateY(10px) rotate(45deg);
}

.burger_menu_icon.active .line:nth-child(2) {
  display: none;
}

.burger_menu_icon.active .line:nth-child(3) {
  left: 0;
  transform: translateY(-10px) rotate(-45deg);
}

.header_wrapper .logo_and_nav_div .logo a.active {
  color: #3d3c3a;
}
